<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Simulator Financiar{% endblock %}</title>
</head>
<body>

    <!-- Navbar / Bara de navigare -->
    <nav>
        <div>
            {% comment %} <a href="{% url 'profile' %}">Simulator Financiar</a> {% endcomment %}

           <!-- Verificăm dacă utilizatorul este autentificat -->
            {% if user.is_authenticated %}
            <div>
                <span>Bun venit, {{ user.username }}!</span>
                <!-- Formular POST pentru logout -->
                <form action="{% url 'logout' %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit">Logout</button>
                </form>
            </div>
            {% else %}
            <div>
                <a href="{% url 'login' %}">Login</a>
                <a href="{% url 'register' %}">Register</a>
            </div>
            {% endif %}
            </div>
    </nav>

    <!-- Content Area -->
    <main>
        {% block content %}
        {% endblock %}
    </main>

    <!-- Footer -->
    <footer>
        <div>
            <p>&copy; 2025 Simulator Financiar. Toate drepturile rezervate.</p>
        </div>
    </footer>

</body>
</html>
